* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    position: relative;
    background: chocolate;
    margin-top: 40px;
}

.darky {
    background-color: black;
    width: 400px;
    height: 435px;
}

.theme {
    background-color: black;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.theme .icon {
    margin-top: 6px;
    color: white;
    text-align: center;
    outline: none;
    font-size: 20px;
}

.contain {
    width: 400px;
    background-color: yellow;
    padding: 20px;
    border-radius: 20px;
}

#clea {
    background-color: red;
    color: white;
}

.sult {
    width: 225px
}

input {
    width: 70px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: black;
    font-size: 1em;
    padding: 25px;
    margin: 2px;
}